# ARAVIND G - 20AI005

# AIM
TO COMPLETE ALL THE GIVEN PROBLEMS

# 3.1 To count the number of even and odd numbers from a series of numbers. 

ALGORITHM


1.   START
2.   Iterate through the numbers
3.   When the number divided by 2 gives remainder count it as even
4.   Else count as odd
5.   Display count of even and odd numbers
6.   Stop

In [ ]:
data = input().split()
print(data)
even = 0
odd = 0
for num in data:
  if int(num)%2 == 0:
    even += 1
  else:
    odd += 1

print("The count of even numbers are : ",even)
print("The count of odd numbers are : ",odd)

1 2 3 4 10 30 40
['1', '2', '3', '4', '10', '30', '40']
The count of even numbers are :  5
The count of odd numbers are :  2

# 3.2 Python program that prints each item and its corresponding type from the following list.
Ex:
data1 = [1452, 11.23, 1+2j, True, 'tutorial', (0, -1), [5, 12], {"class":'V', "section":'A'}]

ALGORITHM

1.   START
2.   Iterate through the list
3.   print the Item and the type of that using type() function
4.   STOP

In [ ]:
data =  [1452, 11.23, 1+2j, True, 'tutorial', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for typ in data:
  print("Data : {} Data Type : {}".format(typ, type(typ)))

Data : 1452 Data Type : <class 'int'>
Data : 11.23 Data Type : <class 'float'>
Data : (1+2j) Data Type : <class 'complex'>
Data : True Data Type : <class 'bool'>
Data : tutorial Data Type : <class 'str'>
Data : (0, -1) Data Type : <class 'tuple'>
Data : [5, 12] Data Type : <class 'list'>
Data : {'class': 'V', 'section': 'A'} Data Type : <class 'dict'>

# 3.3 Program that prints all the numbers from 0 to 6 except 3 and 6.
Note : Use 'continue' statement.

ALGORITHM


1.   START
2.   Create a for loop ranging from 0 to 7 as num
3.   check if num is equal to 3 or 6
4.   If true CONTINUE
5.   If false print the num
6.   STOP

In [ ]:
for num in range(0,7):
  if num == 3 or num == 6:
    continue
  else:
    print(i)

0
1
2
4
5

# 3.4 Print the first 50 Fibonacci series.

ALGORITHM


1.   START
2.   declare n1=0, n2=1, count=0 and end=50
3.   create a while loop with condition count<end
4.   print the fibonacci series
5.   STOP

In [ ]:
n1 = 0
n2 = 1
count = 0
end = 50


while count < end:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049

# RESULT
ALL THE GIVEN PROBLEMS HAS BEEN COMPLETED