# 1. Programs for Familiarizing with the syntax and basic concepts

# 20EUAI005 ARAVIND G
DATE :

# Aim
To complete all the give problems successfully

# ALGORITHM 

Step1:Start  
step2:Read a,b  
Step3:Call Sum(a,b) and return a+b  
Step4:Call Diff(a,b) and return a-b , a-b  
Step5:If Diff>1000 then return diff else sum(n,m)   
Step6:stop

In [ ]:
def sum(n,m):
    return n+m
def diff(n,m):
    return n+m,n-m
n=int(input("Enter first value: "))
m=int(input("Enter second value: "))
if(n-m>1000):
    print(diff(n,m))
else:
    print(sum(n,m))

Enter first value: 200
Enter second value: 20

# ALGORITHM

Step1:Start  
Step2:Define lst  
Step3:Use for loop in range(5)  
step4:Get value from user and append to the lst  
step5:if index[0]==index[-1] then print true else print false  
step6:stop

In [ ]:
lst=[]
for i in range(5):
    n=int(input("Enter values to be added in list"))
    lst.append(n)
if(lst[0]==lst[-1]):
    print(True)
else:
    print(False)

Enter values to be added in list6
Enter values to be added in list4
Enter values to be added in list8
Enter values to be added in list6
Enter values to be added in list6
True

# ALGORITHM

step1:Start  
step2:define lst  
step3:using for loop get values from user and append to lst  
step4:using for loop check if the values is divisible by 5 then print lst value
step4:else skip the else statement  
step5:stop

In [ ]:
lst=[]
for i in range(5):
    n=int(input("Enter the Values"))
    lst.append(n)
for i in range(5):
    if(lst[i]%5==0):
        print(lst[i])
    else:
        pass

# ALGORITHM 

Step1:Start  
step2:Read string and store in res  
step3:display "my**name**is**james"   
step4:stop

In [ ]:
res = str(input("Enter the name "))
print('"My**name**is**{}"'.format(res))

Enter the name sharves
"My**name**is**sharves"

# ALGORITHM

step1:start  
step2:get the decimal number from user  
step3:convert deciamal to octal using oct() function
step4:print octal value         
step5:stop

In [ ]:
n=int(input("Enter the decimal number: "))
print("Octal value is {}".format(oct(n)))

# ALGORITHM

step1:start
step2:get value from user in float format
step3:using format function coonvert the given value to 2dp
step4:stop

In [ ]:
n=float(input("Enter the number: "))
print("2dp is {:.2f}".format(n))

# ALGORITHM

step1:start  
step2:declare list to store the values  
step3:using for loop get the float values and append to list  
step4:

In [ ]:
values=[]
for i in range(5):
    n=float(input("Enter the decimal values:"))
    values.append(values)

# ALGORITHM

step1:start  
step2:declare i=0  
step3:while with condition i<10  
step4:display index  
step5:increment by +1  
step6:stop

In [ ]:
i=0
while i<10:
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

# ALGORITHM

step1:start  
step2:using for i in range print the rows till 5  
step3:using nested for j in range print the coloumns  
step4:increment the i in j loop
step5:print j with end=''
step6:print()
step7:stop

In [ ]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

# ALGORITHM

step1:start  
step2:get the number from user  
step3:assign a temp variable s  
step4:using for loop sum the 1st and 2nd value and store it in s  
step5:reapeat step4  
step6:display s  
step7:stop

In [ ]:
n = int(input("Enter the number till to be summed: "))
s=0
for i in range(1,n+1):
    s+=i
print(s)

# ALGORITHM

step1:start  
step2:get the number from user  
step3:using for print the values till 10
step4:display(n,"X",i,"=",n*i)     
step5:stop

In [ ]:
n = int(input("Enter the table "))
for i in range(1,11):
    print(n,"X",i,"=",n*i)
print()

# ALGORITHM
step1:start  
step2:assign list  
step3:get the number of values need to be in list from user  
step4:while the given value is less than 150  
step5:iterate the loop which is divisible by 5  
step6:display the

In [ ]:
x=int(input("Enter number of values in list"))
lst=[]
for i in range(x):
    n=int(input("Enter the Values"))
    lst.append(n)
i=0
while lst[i]<150:
    if(lst[i]%5==0):
        print(lst[i])
    i+=1

# ALGORITHM

step1:start  
step2:get number from user  
step3:convert integer to string  
step4:then find the length of the string  
step5:display length  
step6:stop

In [ ]:
n=int(input("Enter the number"))
string = str(n)
length = len(string)
print(length)

# ALGORITHM

step1:start  
step2:declare empty list  
step3:for in range from 4 to -1 append the list1 values from last to list2  
step4:display list2  
step5:stop

In [ ]:
list1=[10,20,30,40,50]
list2=[]
for i in range(4,-1,-1):
    list2.append(list1[i])
print(list2)

# ALGORITHM

step1:start  
step2:using for set range as(-50,-19,1)  
step3:display i  
step4:display done  
step5:stop

In [ ]:
for i in range(-50,-19,1):
    print(i)
print("Done")

# ALGORITHM

step1:start  
step2:get the range from user  
step3:using for declare the range got from user  
step4:if i%j == 0 leave the loop and print the prime numbers  
step5:else print i  
step6:stop

In [ ]:
n=int(input("Enter the numbers: "))
for i in range(2,n+1):
    for j in range(2,i//2):
        if i%j==0:
            break
        else:
            print(i)

# ALGORITHM

step1:start  
step2:declare x=0,y=1,res  
step3:for i in range 0 to n+1  
step4:res=x+y  
step5:display res  
step6:swap x=y,y=res  
step7:stop

In [ ]:
n=10
x=0
y=1
for i in range(0,n+1):
    res=x+y
    print(res,end=' ')
    x=y
    y=res

# RESULT
All the above give programs are complied successfully